<div class="logo-nav">
	<h1>swell</h1>
</div>
<div id="search-bar">
<form action="/searches/show" method="get">
	<%= token_tag %>
	<input type="text" id="query" placeholder="<%= @example %>">
	<input type="submit">
</form>
</div>




