<!--
This file is referred to in the main layout, therefore it does not belong
 in the searches directory. The standard is to create a 'shared' directory
 where the shared template stuff goes.
-->
<div class="logo-nav">
	<h1>swell</h1>
</div>
<div id="search-bar">
<form action="/searches/show" method="get">
	<%= token_tag %>
	<input type="text" id="query" placeholder="<%= @example %>">
	<input type="submit">
</form>
</div>




