<div class="secondary">
<h1>Swell</h1>
</div>

<div class="primary">
<form action="/searches/show" method="get">
	<%= token_tag %>
	<input type="text" name="query">
	<input type="submit">
</form>
</div>