<section class="thermometer"></section>
<section class="wordcloud"></section>

<script>
$(document).ready(function(){
	
	$('#search-bar').submit(function(e){
		e.preventDefault();
		makeAPIRequest();
	});

});
</script>

