<div id="content-placeholder"></div>

<script id="info-graphs" type="text/x-handlebars-template">
	<section class="thermometer">
	<div id="content">
		<h6>Here are your search results for:</h6> 
		<h4>{{query}}</h4>
		<div id="thermometer">
			<div class="track">
				<div class="goal">
					<div class="amount"></div>
				</div>
				<div class="progress">
					<div class="amount"></div>
				</div>
				<div class="sd">
					<div class="amount"</div>
				</div>
			</div>
		</div>

		<div id="triangle"></div>	
		
		<div class="stats-info">
			<ul>
				<li><div id="mean-key"></div>Mean</li>
				<li><div id="sd-key"></div>Standard Deviation</li>
			</ul>
		</div>
	

		<div id="conversation">
			<h6>The conversation is taking in place in these categories: </h6>
			<h4>{{convo1}}, {{convo2}}, {{convo3}}</h4>
		</div>

	</div>
	<div class="arrow animated bounce">
	</div>
</section>


<section id="influential">
	<div id="influential-div">
	<img src="{{user_thumb}}" alt="User Thumbnail">
	<h4>{{username}}:</h4>
	<h1>{{tweet}}</h1>
	</div>
</section>

<section class="wordcloud">
	<div id="wordcloud">
		{{#each words}}
		<span data-weight={{this.[1]}}>{{this.[0]}}</span>
		{{/each}}
	</div>
</section>


</script>

<script>
$(document).ready(function(){
	
	$('#search-bar').submit(function(e){
		e.preventDefault();
		makeAPIRequest();
	});

	$("#toggle-stats").live('click', function(){
		$(".stats-info").show();
	});

});
</script>