
<div id="content">
	<h6>Here are your search results for:</h6> 
	<h4><%= @query%></h4>
	<div id="thermometer">
		<div class="track">
			<div class="goal">
				<div class="amount" data-amount="200"></div>
			</div>
			<div class="progress">
				<div class="amount" data-amount="<%= @score %>"></div>
			</div>
			<div class="sd">
				<div class="amount" data-amount ="<%= @sd %>"></div>
			</div>
		</div>
	</div>
	<div id="triangle"></div>
	
</div>
<div id="wordcloud">
	<span data-weight="14">word</span>
	<span data-weight="5">another</span>
	<span data-weight="7">things</span>
	<span data-weight="23">super</span>
	<span data-weight="10">cloud</span>
</div>


<script>
$(document).ready(function(){
	var settings = {
		"size" : {
			"grid" : 16
		},
		"options" : {
			"color" : "random-dark",
			"printMultiplier" : 3
		},
		"font" : "Futura, Helvetica, sans-serif",
		"shape" : "square"
	}

	$( "#wordcloud" ).awesomeCloud( settings );

	thermometer();
});
</script>

