<h1>Here are your search results</h1>
<div id="content">
	<div id="thermometer">
		<div class="track">
			<div class="goal">
				<div class="amount"> 100 </div>
			</div>
			<div class="progress"> <%=number_to_percentage(@score * 100)%> </div>
		</div>
	</div>
</div>
</div>

<ul>
	<% @tweets.each do |tweet|%>
	<li><% tweet[:text] %> <strong><%tweet[:score] %></strong></li>
	<% end %>
</ul>

