/*BASE STYLES*/
body{
	background-color: $primarycolor;
	font-family: $sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-family: $sans-serif;
}

input{
	font-family: $sans-serif;
}

.container {
	@include outer-container;
}

.primary {
	@include span-columns(8);
}

.secondary {
	@include span-columns(4);
}


/*METER*/

#content {
	width: 300px;
	margin: 30px auto;
}

#thermometer {
	width: 70px;
	height: 300px;
	position: relative;
	background: #fff;
}

#thermometer .track {
	height: 280px;
	top: 10px;
	width: 20px;
	position: relative;
	margin: 0 auto;
	background: $primarycolor;
}

#thermometer .progress {
	height: 0%;
	width: 100%;
	background: $accentcolor;
	position: absolute;
	bottom: 0;
	left: 0;
}

#thermometer .goal {
	position: absolute;
	top: 0;
}

#thermometer .amount {
	display: inline-block;
	padding: 0 5px 0 60px;
}

#thermometer .progress .amount {
	padding: 0 60px 0 5px;
	position: absolute;
	right: 0;
}